
.Wrapper {
    background-image: linear-gradient(to right, rgb(160, 45, 99) , rgb(250, 250, 247));
    background-size: cover;
    background-repeat: no-repeat;
    height: 95vh;
  }
  .title-Content{
    color: #fff;
    background-color: darkgreen;
    text-align: center;
    width: 800px;
    margin: 20px auto;
    padding: 4px 8px;
    font-size: 35px;
  }
  .body-Content{
    color: aqua;
    font-size: 30px;
  }